/*-- scss:defaults --*/
$headings-color: purple;

/*-- scss:rules --*/
.quarto-reader-toggle .bi::before,
.quarto-color-scheme-toggle .bi::before {
  height: 2rem !important;
  width: 2rem !important;
  background-size: 2rem 2rem !important;
}